@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
}